{% extends 'base.html' %}
{% load embed_video_tags %}
{% block content %}

<body>

    <header>
        <h1>CSnNades - Inferno</h1>
        <a href="home">Voltar para a Página Inicial</a>
        <p>Explore estratégias, dicas e vídeos sobre o mapa Inferno no Counter-Strike.</p>
    </header>

    <main>

        <h2>Visão Geral</h2>
        <p>O Inferno é um mapa conhecido por suas ruas estreitas e pontos-chave de controle. Entenda as dinâmicas deste
            mapa e aprimore suas habilidades táticas.</p>

        <a class="map-link" href="{% url 'cadastrar_granada' mapa_slug='Inferno' %}">
            <button class="custom-button">Adicionar Granada</button>
        </a>
        <h2>Smokes</h2>
        {% for granada in granadas %}
        {% if granada.tipo_granada == 'Smoke' %}
        <a href="{{ granada.link }}" class="video-link">{{ granada.descricao }}</a>
        <div class="video-container">
            {% video granada.link 'small' %}
        </div>

        {% endif %}
        {% endfor %}

        <h2>Flashbangs</h2>
        {% for granada in granadas %}
        {% if granada.tipo_granada == 'Flash' %}
        {% video granada.link 'small' %}
        <a href="{{ granada.link }}">{{ granada.descricao }}</a>
        {% endif %}
        {% endfor %}

        <h2>Molotovs</h2>
        {% for granada in granadas %}
        {% if granada.tipo_granada == 'Molotov' %}
        {% video granada.link 'small' %}
        <a href="{{ granada.link }}">{{ granada.descricao }}</a>
        {% endif %}
        {% endfor %}

        <h2>High Explosive (HE)</h2>
        {% for granada in granadas %}
        {% if granada.tipo_granada == 'HE' %}
        {% video granada.link 'small' %}
        <a href="{{ granada.link }}">{{ granada.descricao }}</a>
        {% endif %}
        {% endfor %}

    </main>

</body>
{% endblock %}

</html>