{% extends 'base.html' %}
{% load embed_video_tags %}
{% block content %}

<body>

    <header>
        <h1>CSnNades - Vertigo</h1>
        <a href="home">Voltar para a Página Inicial</a>
        <p>Explore estratégias, dicas e vídeos sobre o mapa Vertigo no Counter-Strike.</p>
    </header>

    <main>

        <h2>Visão Geral</h2>
        <p>O mapa Vertigo é conhecido por ser um mapa único e desafiador, com oportunidades ligeiramente favoráveis aos terroristas. É um mapa novo, lançado em 2019, e ainda está ganhando popularidade no cenário competitivo.</p>

        <a class="map-link" href="{% url 'cadastrar_granada' mapa_slug='Vertigo' %}">
            <button class="custom-button">Adicionar Granada</button>
        </a>
        <h2>Smokes</h2>
        {% for granada in granadas %}
        {% if granada.tipo_granada == 'Smoke' %}
        <a href="{{ granada.link }}" class="video-link">{{ granada.descricao }}</a>
        <div class="video-container">
            {% video granada.link 'small' %}
        </div>

        {% endif %}
        {% endfor %}

        <h2>Flashbangs</h2>
        {% for granada in granadas %}
        {% if granada.tipo_granada == 'Flash' %}
        {% video granada.link 'small' %}
        <a href="{{ granada.link }}">{{ granada.descricao }}</a>
        {% endif %}
        {% endfor %}

        <h2>Molotovs</h2>
        {% for granada in granadas %}
        {% if granada.tipo_granada == 'Molotov' %}
        {% video granada.link 'small' %}
        <a href="{{ granada.link }}">{{ granada.descricao }}</a>
        {% endif %}
        {% endfor %}

        <h2>High Explosive (HE)</h2>
        {% for granada in granadas %}
        {% if granada.tipo_granada == 'HE' %}
        {% video granada.link 'small' %}
        <a href="{{ granada.link }}">{{ granada.descricao }}</a>
        {% endif %}
        {% endfor %}

    </main>

</body>
{% endblock %}

</html>